<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">{{ 'Support' | uppercase }}</h2>
<section>
	<h2 class="mat-headline">Thanks for your support!</h2>
	<div fxLayout fxLayoutWrap fxLayoutAlign="space-around center" class="container-sponsor-imgs">
		<div *ngFor="let sponsor of symposium.sponsor.sponsors" fxFlex.xs="50" fxFlex="33%"
			(click)="goToLink(sponsor.link)" class="clickable">
			<img [src]="'assets/img/sponsors/' + sponsor.logoUrl" alt="" [style.width]="'100%'">
		</div>
		<!-- <div *ngFor="let img of sponsorImgs" fxFlex.xs="50" fxFlex="33%">
			<img [src]="'assets/img/sponsors/' + img" alt="" [style.width]="'100%'">
		</div> -->
	</div>
</section>
<section>
	<h2 class="mat-headline">Support us</h2>
	<p class="mat-subheading-1">
		All quality non-profit organizations need financial supports to help achieve their goals. As a student-based organization,
		we strive to host this conference with very limited resources. Therefore, your contribution is critical to our success.
		In addition, being a supporter helps to increase the visibility of your company and allows students and professionals to
		recognize your brand. We invite you to join us today to invest the future!
	</p>
	<h3 class="mat-title">Supporter/showcase package details</h3>
	<div class="mat-elevation-z1" style="overflow-x:auto">
		<md-table #table [dataSource]="sponsorTabledataSource" style="min-width:500px;">
			<ng-container *ngFor="let column of referenceColumns; let idx = index" mdColumnDef="{{column}}">
				<md-header-cell *mdHeaderCellDef class="text-color-of-theme">{{ parseCamelCase(displayedColumns[idx]) | titlecase }}</md-header-cell>
				<md-cell *mdCellDef="let element" class="text-color-of-theme"> {{ number(element[column]) ? element[column] : element[column] | titlecase}} </md-cell>
			</ng-container>
			<md-header-row *mdHeaderRowDef="referenceColumns"></md-header-row>
			<md-row *mdRowDef="let row; columns: referenceColumns;"></md-row>
		</md-table>
	</div>
	<p class="mat-body-1">
		* Online Media: Company name and logo prominently displayed on the TTBA official website and Facebook fan page
		<br />
		** Registration: The number of representatives from your company who can attend our welcome banquet and reception dinner
	</p>

	<p class="mat-subheading-1">
		Please contact us at <a href="ttba.board@gmail.com">ttba.board@gmail.com</a> for sponsorship. Thank you all for your support.
	</p>
</section>
