<!-- <div fxLayout="column" fxLayoutAlign="center" fxLayoutAlign.xs="center center" [style.height]="'89vh'">
	<div fxFlex="1 1 auto"></div>
	<div>
		<h2 class="mat-h1 hidden">{{ symposium.symposiumInfo.title | uppercase }}</h2>
		<img src="assets/img/banner-title.png" alt="" [style.width]="'100%'">
	</div>
	<div fxFlex="0 1 160px" fxShow fxHide.xs="true" ></div>
	<div fxFlex="0 1 80px" fxHide fxShow.xs="true" ></div>
	<div>
		<h1 class="mat-h1 hidden">{{ symposium.symposiumInfo.name | uppercase }}</h1>
		<img src="assets/img/banner-logo.png" id="logo-header" [style.width]="'100%'">
	</div>
	<div fxFlex="1 1 auto"></div>
</div> -->
<div>
	<object type="image/svg+xml" data="assets/img/banner_svg/banner-svg.svg"></object>
</div>
