@import 'variables';

.container-header-bg {
	background-color: $accentColorFB;
	background-color: $accentColor;
	padding: 20px 0px;
}

.hidden {
	position: absolute;
	opacity: 0;
	font-size: 1%;
}

nav {
	@media screen and (max-width: 600px) {
		position: fixed;
		bottom: 0px;
		left: 0px;
		background-color: $accentColorFB;
		width: 100%;
		min-height: auto;
		z-index: 1000;

		button {
			height: 4em;
			font-size: 75%;
			min-width: initial;
		}
	}
}
