<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">{{ symposium.about.title | uppercase }}</h2>
<!-- <div fxLayout="row wrap">
	<app-website-about-carousel fxFlex="100%" fxFlex.xs="100%">
	</app-website-about-carousel>
</div> -->
<div *ngFor="let subject of symposium.about.subjects">
	<h3 class="mat-headline" *ngIf="subject.title" style="margin-top:1.5em">{{ subject.title }}</h3>
	<p class="mat-subheading-1" [innerHTML]="subject.description"></p>
</div>
<div style="height:1em"></div>
