<md-card fxFlex="30%" fxFlex.xs="46%" fxLayout="column" *ngFor="let speaker of speakers">
	<img md-card-image
		src="{{speaker.imgFileName ? 'assets/img/speakers/' + speaker.imgFileName : 'assets/img/carousel_01.jpg'}}"
		alt="Photo of {{speaker.name}}">
	<md-card-title-group fxFlex="1 1 auto">
		<md-card-subtitle>{{ speaker.title }}, {{ formatTimeChicago(speaker.from, 'HH:mm') }}</md-card-subtitle>
		<md-card-title >{{ speaker.name }} <br />{{ speaker.nameCh }}</md-card-title>
		<md-card-subtitle>{{ speaker.affiliations[0] }}</md-card-subtitle>
	</md-card-title-group>
	<md-card-content fxFlexLayout fxLayoutAlign="end">
		<button md-mini-fab><fa name="id-card-o" size="lg"></fa></button>
	</md-card-content>
</md-card>
