@import 'variables';
@import 'mixin';

.mat-caption {
	margin: 0;
}

.cards-speaker {
	margin-bottom: 10px;
	padding: 1%;
	background-color: lighten($bodyBgColor, 30%);
}

button {
	@include linx(inherit, inherit, inherit, inherit)
}
