<md-toolbar color="primary" *ngIf="symposium">
	<div>
		<h1>{{ symposium.symposiumInfo.name | uppercase }}</h1>
	</div>
	<div *ngFor="let key of keysOfObj(symposium)">
		<button md-raised-button color="accent" *ngIf="showPageLink('showPageLink', key, symposium)">
			{{key | uppercase}}
		</button>
	</div>
</md-toolbar>

<div *ngIf="symposium" class="mat-typography">
	<section>
		<h2>{{ symposium.about.title | uppercase }}</h2>
		<p>{{ symposium.about.text }}</p>
	</section>

	<section>
		<h2>{{ symposium.location.title | uppercase }}</h2>
	</section>

	<section>
		<h2>{{ symposium.talk.title | uppercase }}</h2>
		<h3>Schedules</h3>
		<md-tab-group>
			<md-tab label="11/3">
				<md-list class="mat-typography">
					<md-list-item *ngFor="let schedule of symposium.talk.schedules">
						<div md-list-avatar>{{ schedule.from }} {{ schedule.to }}</div>
						<h4 md-line class="mat-h2">{{schedule.title}}</h4>
						<p md-line> {{schedule.topic}} </p>
					</md-list-item>
				</md-list>
			</md-tab>
			<md-tab label="11/4">Content 2</md-tab>
		</md-tab-group>
		<h3>Speakers</h3>

		<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="100px" fxLayoutGap.xs="0">
			<div class="item item-1" fxFlex="15%">Item 1</div>
			<div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
			<div class="item item-3" fxFlex>Item 3</div>
		</div>

		<div fxLayout fxLayoutGap="10px" fxLayoutWrap>
			<md-card fxFlex="32%" class="mat-typography" fxLayout="column"
				*ngFor="let speaker of getTalks(symposium.talk.schedules)">
				<img md-card-image src="http://via.placeholder.com/150x150" alt="Photo of {{speaker.name}}">
				<md-card-title-group fxFlex="1 1 auto">
					<md-card-subtitle>{{ speaker.title }}, {{ speaker.from }}</md-card-subtitle>
					<md-card-title>{{ speaker.name }} {{ speaker.nameCh }}</md-card-title>
					<md-card-subtitle>{{ speaker.affiliations[0] }}</md-card-subtitle>
				</md-card-title-group>
				<!-- <md-card-content>
					<p>

					</p>
				</md-card-content> -->
				<md-card-footer>
					<button md-mini-fab><fa name="id-card-o" size="lg"></fa></button>
				</md-card-footer>
			</md-card>
		</div>

	</section>
</div>
