<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">
		{{ symposium.elevatorTalk.title | uppercase }}
	</h2>
	<div class="mat-typography" id="elevator">
		<h4>
			The 5-minute elevator talk competition includes an abstract competition and an oral competition.
		</h4>
		<h3>Abstract competition</h3>
		<p>The abstracts should be submitted no later than <strong>September 30th</strong>. Each abstract will be judged by at least 3 referees with related expertise. The top 3 contestants will receive <strong>travel funds</strong> ($50 per person), and the selected 10 finalists will enter oral competition.</p>
		<h3>Oral competition</h3>
		<p>The elevator talk is on <strong>November 4th from 5:30 to 6:30 pm</strong>. Those selected will give <strong>a 5-minute presentation</strong> to highlight their research. The participants will be judged by a panel of 3 or more judges. Each judge scores speakers on a scale of 1 to 10 in each of the 3 criteria below. The judges' scores are combined and the top 3 are winners. The participants will be judged on the following criteria:</p>
		<ul>
			<li>Comprehension: Does the presentation help the audience understand the research?</li>
			<li>Engagement: Does the oration make the audience want to know more?</li>
			<li>Communication: Is the information delivered clearly and simply?</li>
		</ul>
		<h4>1st, 2nd, and 3rd place winners will be awarded $150, $100, and $50 accordingly.</h4>
	</div>
	<div fxLayoutAlign="center">
		<button md-raised-button color="accent" (click)="goToLink(symposium.elevatorTalk.link)">{{'Submit Abstract' | uppercase}}</button>
	</div>
