<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">
	{{ symposium.elevatorPitch.title | uppercase }}
</h2>
<div class="mat-typography" id="elevator">
	<h4>
		We are accepting abstracts for the Elevator Pitch (Saturday 12:15-13:45, August 3) and the Poster Session
		(Saturday 15:40-17:00) at the 2019 BTBA Annual Symposium. Please register before submitting your abstract.
	</h4>
	<h4>
		Submission deadline: 07/20/2019 (Sat) 12:00AM (EST)
	</h4>
	<div fxLayoutAlign="center" style="margin-bottom: 1.5em">
		<!-- <button md-raised-button color="accent"
			(click)="goToLink('https://docs.google.com/forms/d/e/1FAIpQLSfEQbS58WH9bK6oL_9tX6Vn0U795QOCOqmN5M1fDNX7dkvPAA/viewform?usp=sf_link')">{{'submit abstract' | uppercase}}</button> -->
	</div>
	<h2 class="mat-headline">Abstract format</h2>
	<ol style="margin-bottom: 1.8em">
		<li>A single-page PDF file with filesize smaller than 10 MB</li>
		<li>The abstract should include Title, Authors, Affiliations, Main Text and References. Figures are optional.</li>
		<li>
			Layout - <a href="assets/files/Abstract_template.docx" class="href">{{ 'download Word template' }}</a>:
			<ul>
				<li>Margin: 1-inch; Font: Times New Roman</li>
				<li>Title: 12 pt bold; Other text: 10 pt</li>
				<li>1.5-lines spacing, but single line spacing for reference and figure caption</li>
				<li>
					Reference format: Number, Authors (abbreviated first and flil last name), Journal, Issue, Page,
					Year. <br>
					Reference example: 1. M. Casalino, L. Sirleto, L. Moretti, and I. Rendina, Semicond, Sci. Technol.
					23,075001 (2008)
				</li>
			</ul>
		</li>

	</ol>
	<h2 class="mat-headline">Elevator Pitch</h2>
	<p style="margin-bottom: 1.8em">
		8 participants will be selected for presenting their work. Each presentation is restricted to 150 seconds with
		no more than 3 slides. 2 best speakers will be awarded with $50 Amazon gift card in the Closing Remarks & Award
		Ceremony on Sunday, August 4.
	</p>
	<h2 class="mat-headline">Poster setup</h2>
	<ul>
		<li>
			Poster size: 47 inches (or less) in width and 35.5 inches (or less) in length.
		</li>
		<li>
			Please setup up your poster between 8:15AM and 8:45AM on Saturday, Aug 3 and keep
			it until 5PM the same day.
		</li>
		<li>
			The judges will score and the 3 best posters will receive certificate/prize/reward ($25
			Amazon gift card) in the Closing Remarks &amp; Award Ceremony on Sunday, Aug 4.
		</li>
	</ul>
	<!-- <div fxLayoutAlign="center">
		<button md-raised-button color="accent" (click)="goToLink(symposium.elevatorTalk.link)">{{'Submit Abstract' | uppercase}}</button>
	</div> -->
