@import url('https://fonts.googleapis.com/css?family=Oxygen:300,700&subset=latin-ext');

$bodyBgColor: #bdbdbd;
$accentColor: #e7caa9;
// $accentColor: indianred;
// $textColor: #e7caa9;
$textColor: #ddd;
// $textColorAccent: #1e2f2c;
$textColorAccent: #212f2c;
$fontFamily: 'Oxygen', sans-serif;
$letterSp1: 0.025em;
