@import url('https://fonts.googleapis.com/css?family=Oxygen:300,700&subset=latin-ext');

$bodyBgColor: #f1f0eb;
$primaryColor: rgba(28, 72, 142, 0.95);
$primaryColorFB: rgb(28, 72, 142);
$accentColor: rgba(251, 182, 55, 0.7);
$accentColorFB: rgb(243, 217, 170);

// $accentColor: indianred;
// $textColor: #e7caa9;
// $textColor: #1c488e;
// $textColorAccent: #1e2f2c;
// $textColorAccent: #fbb637;
// $fontFamily: 'Oxygen', sans-serif;
// $letterSp1: 0.025em;
