/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixin';

@for $index from 1 through 6 {
	h#{$index} {
		font-weight: 700;
		// color: $textColorAccent;
	}
}

body {
	font-family: $fontFamily;
	background-color: $bodyBgColor;
	color: $textColor;
	margin: 0 8px;
	letter-spacing: 0.025em;
}

.darkText {
	color: $textColorAccent;
}

.d-flex {
	display: flex;
	max-width: 100%;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
}
.flex-fill {
	flex: 1;
}
@each $name in column row {
	.flex-center-#{$name} {
		@extend .flex-center;
		flex-direction: $name;
	}

	.d-flex-#{$name} {
		@extend .d-flex;
		flex-direction: $name;
	}
}

.width-full {
	width: 100%;
}

.ani-blink {
	animation: blinker 2s linear infinite;
}
@keyframes blinker {
	50% {
		opacity: 0
	}
}


@include linx($textColorAccent, $textColorAccent, $textColorAccent, $textColorAccent);

a:not(.button) {
	position: relative;
	text-decoration: none;
	&::before {
		position: absolute;
		top: 0.2em;
		left: 0;
		box-sizing: border-box;
		content: '';
		border-bottom: solid 0px $accentColor;
		width: 100%;
		height: 100%;
		bottom: 0px;
		transition: border-bottom 0.2s;
	}

	&:hover {
		&::before {
			border-bottom: solid 0.25em $accentColor
		}
	}
}
