@import 'variables';
@import 'dynamic-theme';

button {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 900;
}

.container-content-bg {
	@media screen and (max-width: 600px) {
		padding-bottom: 4em;
	}
}

::ng-deep .vertical-bullet-text, .vertical-bullet-text {
	border-left: solid 0.2em;
	border-left: solid 0.2em;
	padding-left: 0.5em;
	margin: 1em 0 !important;
	@extend .border-color-of-theme;
}

::ng-deep .text-color {
	// color: $primaryColorFB;
	// color: $primaryColor;
}
