@import 'variables';
@import 'dynamic-theme';

button {
	position: fixed;
	top: 4em;
	right: 10px;
	z-index: 900;
}

.container-content-bg {
	@media screen and (max-width: 600px) {
		padding-bottom: 4em;
	}
}

header {
	// background: url(assets/img/bg_img.png) no-repeat left;
	// background-size: cover;
	// background-attachment: fixed;
}

::ng-deep .vertical-bullet-text, .vertical-bullet-text {
	border-left: solid 0.2em;
	border-left: solid 0.2em;
	padding-left: 0.5em;
	margin: 1em 0 !important;
	@extend .border-color-of-theme;
}

::ng-deep .text-color {
	// color: $primaryColorFB;
	// color: $primaryColor;
}

::ng-deep .fixed-top {
	position: fixed;
    top: 0;
	z-index: 800;
	display: initial !important;
	width: 100%
}

.sticky-hidden {
	display: none;
}
