<app-website-header *ngIf="symposium" [symposium]="symposium">
</app-website-header>

<div *ngIf="symposium" class="container-content-bg" fxLayoutAlign="center">
	<div fxFlex="0 1 960px" [style.padding]="'0 10px'">
		<section>
			<h2 class="mat-display-1 vertical-bullet-text">{{ symposium.about.title | uppercase }}</h2>
			<p class="mat-subheading-2">{{ symposium.about.text }}</p>
		</section>

		<section>
			<h2 class="mat-display-1 vertical-bullet-text">{{ symposium.location.title | uppercase }}</h2>
		</section>

		<section>
			<app-website-talk [symposium]="symposium" [speakers]="speakers">
			</app-website-talk>
		</section>
	</div>
</div>
