<app-website-header *ngIf="symposium" [symposium]="symposium">
</app-website-header>

<div *ngIf="symposium" class="container-content-bg" fxLayoutAlign="center">
	<div fxFlex="0 1 960px" [style.padding]="'0 10px'">
		<a id="about"></a>
		<section>
			<app-website-about [symposium]="symposium">
			</app-website-about>
		</section>
		<a id="talk"></a>
		<app-website-talk [symposium]="symposium" [speakers]="speakers">
		</app-website-talk>
		<a id="location"></a>
		<app-website-location [symposium]="symposium"></app-website-location>
	</div>
</div>
