@import 'variables';

.container-content-bg {
	background-color: $bodyBgColor;
	@extend .text-color;

	@media screen and (max-width: 600px) {
		padding-bottom: 4em;
	}
}

::ng-deep .vertical-bullet-text, .vertical-bullet-text {
	border-left: solid $accentColorFB 0.2em;
	border-left: solid $accentColor 0.2em;
	padding-left: 0.5em;
	margin: 1em 0;
}

::ng-deep .text-color {
	color: $primaryColorFB;
	color: $primaryColor;
}
